.git
.idea
.tx
.vscode
.github
.DS_Store
.gitignore
venv
env
data
README.md
dockerize
dockerize/**
erp.tar
db-data
nginx-proxy

!dockerize/entrypoint.sh
!dockerize/odoo.conf
!dockerize/postgresql.conf
!dockerize/wait-for-psql.py
!dockerize/odoo*.deb
